@model IEnumerable<Book.Models.Company>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-9">
            <h2 class="text-primary">Company List List</h2>
        </div>
        <div class="col-3 pt-3">
            <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                Create Company
            </a>
        </div>
    </div>

</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Phone Number</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="25%">@obj.Name</td>
                <td width="25%">@obj.StreetAddress</td>
                <td width="25%">@obj.City</td>
                <td width="25%">@obj.State</td>
                <td width="25%">@obj.PostalCode</td>
                <td width="25%">@obj.PhoneNumber</td>

                
                <td>
                    <div class="width-175 btn-group btn btn-warning">
                        <a asp-controller="Company" asp-action="Upsert" asp-route-id="@obj.Id" style="color:#fff;text-decoration:none;">Edit</a>
                    </div>
                </td>
                <td>
                    <div class="width-175 btn-group btn btn-danger">
                        <a asp-controller="Company" asp-action="Delete" asp-route-id="@obj.Id" style="color:#fff;text-decoration:none;">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    
</table>
